*[aria-hidden="true"] {
    display: none;
}

* {
    box-sizing: unset;
}

@media screen and (min-width:768px) {
    section#rtc-room-main {
        background-color: #434649;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 1ch;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 90px;
    }

    #main-div {
        width: 100%;
        height: calc(100vh - 120px);
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto 360px;
        gap: 1ch;
    }

}

@media screen and (max-width:768px) {

    section#rtc-room-main {
        background-color: #434649;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 1ch;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 90px;
    }
}